// Resets
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Variables
$site-width: 1280px;

$light-color: #f8f8f8;
$medium-color: rgb(210, 210, 210);
$dark-color: #333;
$primary-color: #27ae60;

// Main
body {
  min-height: 100vh;
  font-family: sans-serif;
  background: no-repeat
    linear-gradient(
      135deg,
      rgb(39, 174, 96) 0%,
      rgb(114, 209, 146) 38%,
      rgb(245, 245, 245) 38%,
      rgb(245, 245, 245) 78%,
      rgb(114, 209, 146) 78%,
      rgb(39, 174, 96) 100%
    );
}

// Calculator
.calculator {
  margin: auto;
  width: 80%;
  background-color: $light-color;
  box-shadow: 2px 2px 10px 4px rgba(#474747, 0.1);
  padding-bottom: 2rem;

  .result {
    &__amount {
      text-align: center;
      font-size: 2.6rem;
      color: $dark-color;
      padding: 3.2rem;
    }

    &__info {
      display: flex;
      justify-content: space-around;
      font-weight: bold;
      color: $dark-color;

      &__last-update {
        font-weight: normal;
        margin-top: 16px;
      }
    }
  }
}

// Chart
.chart {
  position: relative;
  margin: auto;
  width: 80%;
  height: 400px;
  padding: 1rem;
  background-color: $light-color;
  box-shadow: 2px 2px 10px 4px rgba(#474747, 0.1);
  border-top: 3px solid $primary-color;

  &__header {
    position: absolute;
    width: 120px;
    top: 1.2rem;
    left: 3.4rem;

    .arrow--down {
      top: 0.3rem;
    }
  }

  &__dropdown {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $light-color;
    border: 2px solid $medium-color;
    border-radius: 4px;

    .btn {
      &:last-of-type {
        border-bottom: none;
      }

      &--chart {
        justify-content: center;
        text-align: center;
        border: none;
        border-bottom: 2px solid $medium-color;
        border-radius: 0;
        padding: 0.4rem;
      }

      &:hover {
        background-color: $medium-color;
        border-color: $medium-color;
      }
    }
  }
}
